.basic{
    background-color: "linear-gradient(45deg,#E75F42  30%, #CC553C 90%)";
    border: 0;
    border-color: aliceblue;
}
.basic:hover{
   background-color:  "linear-gradient(45deg,#CC553C 30%, #E75F42 90%)"
}
.bg{
    color: aqua;
}